h1{
    color: darkblue;
    font-size: xx-large;
    font-family: monospace;
}
body{
    background-image: url(https://2.bp.blogspot.com/-oSNZImzEx5U/VIXigEJueCI/AAAAAAACakc/zbCqSiePNkE/s1600/Feliz-Navidad-Tarjetas-con-Mensajes.png);
}
.caja
{
    width: 200px;
    height: 100px;
    background-color: rgb(192, 243, 8);
    text-align: center;
    line-height: 100px;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding: 50px 30px 15px 50px;
    /*margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 100px;*/
    margin: 20px 30px 50px 100px;

    
}
/*flex box*/
#contenedor
{
    display: flex;
    flex-direction: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: 100px;
    flex-wrap: wrap;
}
.cajita{
    display: flex;
    background-color: rgb(205, 222, 255);
    width: 200px;
    height: 50px;
    text-align: center;
    border: 2px solid rgb(189, 11, 20);
    justify-content: center;
}
#boton{
    border: 2px solid rgb(12, 126, 22);
    align-items: center;
}